* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  overflow: hidden;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.b1 {
  padding: 10px 20px;
  border: none;
  font-size: 25px;
  font-weight: 700;
  border-radius: 5px;
  background-color: crimson;
  color: whitesmoke;

  z-index: 9;
}

.b1:active {
  scale: 0.95;
  cursor: pointer;
}

.card {
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.card p span {
  color: blue;
}

.outer {
  height: 20px;
  border-radius: 50px;
  width: 100%;
  background-color: rgb(180, 180, 180);
}

.inner {
  height: 100%;
  width: 0%;
  background-color: green;

  border-radius: 50px;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2 {
  font-size: 50px;
}
